*.class
*.pyc
.DS_Store
.idea/codeStyleSettings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
bin/*
pkg/*
out/*
probedata/
protos/temp.proto
release/
src/com/opera/core/systems/test/**/*
test_apc.txt
test-output/
test-reports/
doc/
VERSION
.idea/workspace.xml
.idea/dictionaries/
maven/src
.*.swp
test/com/opera/core/systems/GenericTest.java
.idea/runConfigurations/GenericTest.xml
