*.class
.DS_Store
bin/*
pkg/*
out/*
probedata/
release/
src/com/opera/core/systems/test/**/*
test_apc.txt
test-output/
test-reports/
doc/
VERSION
*.orig
.idea/workspace.xml
.idea/dictionaries/
maven/src
maven/target
