*.class
.DS_Store
*.orig
.*.swp
.idea/workspace.xml
.idea/dictionaries/
.idea/codeStyleSettings.xml
.idea/misc.xml
.idea/scopes/scope_settings.xml
.idea/runConfigurations/GenericTest.xml
VERSION
bin/*
doc/
maven/src
maven/target
pkg/*
out/*
probedata/
release/
src/com/opera/core/systems/test/**/*
test_apc.txt
test-output/
test-reports/
test/com/opera/core/systems/GenericTest.java
